
/*Navbar Styling*/

.navbar-default .navbar-nav li a {
  color: black;
}

.navbar-default .navbar-nav li a:hover{
  color: rgb(84, 141, 212);
  font-size: 20px;
}

nav ul li{
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  color: black;
} 
nav ul li:hover {
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  background-color: white;
  color: red;
}

#header {
  color: black;
  background-color: white;
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: black;
}
a{
  color: black;
}

.currentpage {
  background-color: #e1ebf7;
}

.navbar-default{
  background-color: white;
   border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;   
    
}
.navbar-default .navbar-nav{
  color: black;
}
.navbar .navbar-default{
  color: black;
}
.navbar-nav{
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  background-color: white;
  color: black;
}
.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 25px;
}
.navbar .navbar-nav{
   display: inline-block;
   float: none;
}
.navbar .navbar-collapse{
text-align: center;
color: black;
}

#logoNav{
  flex:6;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
}
.foodpics .card-about .map {
  border: 15px solid #777;
}
.img-responsive{
  width:200px;
  height:200px;
}
.card_image{
  width: 100%;
}
.card-about {
  width: 100%;
}
.card_bottom{
  display: flex;
  flex-flow:column;
}
.card_head{
  flex:0;
}
.card_para{
  flex:1 0 auto;
}


.menu {
  padding: 5px 5px 5px 5px;
}

#cardcontainer
{
  display: flex;    /* makes container a flexbox*/
  flex-flow: row wrap;  /* layout the boxes in rows and wrap them*/
  box-sizing:border-box;
  margin-right:auto;
  margin-left:auto;
  max-width:1050px; 
}

.card{
  flex:1; /* */
  display: flex;  /* make the contents controllable by flexbox*/
  flex-flow:column; /* */
  min-width: 240px; /**/
  margin: 10px;
  padding: 20px;
  background-color: #f5f5f5;
}

.map {
  max-height: 400px;
  max-width: 500px;
}

.direct{
  text-align: center;
}

.menutext{
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  text-align: center;
  color: black;
}

body{
  
  background-color: white;
  color: black;
}


h1{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-weight: bold;
}

h2{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}

h3{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

/*Contact form styling*/

label{
  width: 170px;
  height: 20px;
}

input{
  border-radius: 4px;
  padding: 4px 4px;
   width: 170px;
   margin-bottom: 5px
}

.field{
  padding: 6px 2px 6px 2px;
}

label, input{
  display: block;
}

fieldset{
  display: block;
  font-family: 'Roboto Slab', serif;
  padding:20px 30px;
  /*border-style: solid;
  border-color: gray;
  border-width: 3px;*/
  background-color: white;
  min-width: -webkit-min-content;
  float: none;
  margin: 0 auto;
}

#event{
  width: 210px;
  height:70px;
  padding-bottom: 50px;
}

#comms{
  height:70px;
  width:210px;
  padding-bottom: 50px;
}

textarea{
  width: 300px;
}

.row .contact{
  
  margin: 0 auto;
  float: none;
}
.contact{

  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.locate{
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.fa {
    padding: 20px;
    font-size: 35px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(84, 141, 212);
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 767px){

  img {
    max-width: 100%;
    height: auto;
  }
}


/* the last media query has precedence*/
@media (min-width: 768px) and (max-width: 991px) {

  img {
    max-width:100%;
    height: auto;
  }

}