

.navbar-default .navbar-nav li a {
  color: black;
}

.navbar-default .navbar-nav li a:hover{
  color: rgb(84, 141, 212);
}

p{
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  color: black;
}
a{
  color: black;
}


/*navbar styling*/
nav ul li{
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  color: black;
}
nav ul li:hover {
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  background-color: white;
  color: red;
}

#header {
  color: black;
  background-color: white;

}

.currentpage {
  background-color: #e1ebf7;
}

.navbar-default{
  background-color: white;
   border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;   
    
}
.navbar-default .navbar-nav{
  color: black;
}
.navbar .navbar-default{
  color: black;
}
.navbar-nav{
  text-decoration: none;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  background-color: white;
  color: black;
}
.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 25px;
}
.navbar .navbar-nav{
   display: inline-block;
   float: none;
}
.navbar .navbar-collapse{
  text-align: center;
  color: black;
}
#logoNav{
  flex:6;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
}
.foodpics {
  border: 15px solid #777;
}
.img-responsive{
  width:200px;
  height:200px;
}
.card_image{
  width: 100%;
}
.card_bottom{
  display: flex;
  flex-flow:column;
}
.card_head{
  flex:0;
}
.card_para{
  flex:1 0 auto;
}
.card-about {
  border: 15px solod #777;
  
}

#cardcontainer
{
  display: flex;    /* makes container a flexbox*/
  flex-flow: row wrap;  /* layout the boxes in rows and wrap them*/
  box-sizing:border-box;
  margin-right:auto;
  margin-left:auto;
  max-width:1050px; 
}


.card{
  flex:1; /* */
  display: flex;  /* make the contents controllable by flexbox*/
  flex-flow:column; /* */
  min-width: 240px; /**/
  margin: 10px;
  padding: 20px;
  background-color: #f5f5f5;
}



.menutext{
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
  text-align: justify;
  color: black;
}

body{



  background-color: white;
  color: black;
}



h1{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-weight: bold;
}

h2{
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}

h3{
   font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-weight: bold;
  font-size: 30px;

}


label{
  width: 170px;
  height: 20px;
}
input{
  border-radius: 4px;
  padding: 4px 4px;
   width: 170px;
   margin-bottom: 5px
}
#comms{
  padding-bottom: : 80px;

}
.field{
  padding: 6px 2px 6px 2px;
}
label, input{
  display: block;
}
fieldset{
  display: block;
  font-family: 'Roboto Slab', serif;
  padding:20px 30px;
  /*border-style: solid;
  border-color: gray;
  border-width: 3px;*/
  background-color: white;
  min-width: -webkit-min-content;
  float: none;
  margin: 0 auto;

}
.ledge{
  padding:5px;
  background-color: white;
  /*border-style:solid;
  border-color: gray;
border-width: 2px;*/
}
#event{
  width: 210px;
  height:70px;
  padding-bottom: 50px;
}
#comms{
  height:70px;
  width:210px;
  padding-bottom: 50px;
}

textarea{
  width: 300px;
}

.damn{
  background-color: blue;
}
/*.closeUp{
width: 300px;
height: 300px;
}
.smaller{
  width: 220px;
  height: 220px;
}*/

.text{
  display: none;
  position: absolute;
  bottom:0;
  width: 200px;
  height: 200px;
  background: rgba(124,124,123,0.5);
  padding: 50px 50px;
  text-align: center;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: bold;

 text-shadow: 2px 2px 8px #000;
}

.thumb:hover .text{
  display: block;
  opacity: 50%;
}
.row .contact{
  
  margin: 0 auto;
  float: none;
}
.contact{

  padding-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
}
.about{
  padding-top: 30px;
  padding-left: 50px
}
.locate{
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
.fa {
    padding: 20px;
    font-size: 35px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(84, 141, 212);
}

 @media screen and (min-width: 768px){
  .jumbotron h1{
    font-size: 35px;
    padding-bottom: 0px;
  }
 



@media screen and (max-width: 665px){

.img-responsive .center-block{
  width:100%;
}

@media screen and (max-width: 480px) {

  img {width:50%
    height: 50%;

  }
.text .thumb {
  width: 50%;
  height: 50%;
}

}

.leftcolumn {
  float:left;
  width: 75%;
}

.rightcolumn{
  float: left;
  width:25%;
  padding: 20px;


}

.photos {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


