

p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
 
/*navbar styling*/
nav ul li{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
nav ul li:hover {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: #e6e6e6;
}
.navbar-default{
  background-color: white;
   border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;   
}
.navbar-nav{ 
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
}
.navbar-brand{
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 25px;
}
.navbar .navbar-nav{
   display: inline-block;
   float: none;
}
.navbar .navbar-collapse{
text-align: center;
}
.img-responsive{
  width:250px;
  height:250px;
}
.door{
  width:600px;
  height: 400px;
}

body{
  background-color: white;
  color: black;
}

/*jumbotron styling*/
.jumbotron{
  background-color: white;
  text-align: center;
  padding: 0; 
}
p.#jumbocontainer{
    font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: black;
}
h1.#jumbocontainer{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: black;
  margin: 0px;
}


h1{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

footer{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

/*carousel styling*/
.carousel-control{
  color: black;
  background-image: none !important;
}
}
a.right.carousel-control{
  color: black;
}
a.left.carousel-control{
  color: black;

}

ol.carousel-indicators li{
  color: white;
  background: #a9a9a9;
}
ol.carousel-indicators li.active{
  color: white;
  background: black;
}
.carousel-indicators{
  bottom: -20px;
}

/*form styling*/


label{
  width: 150px;
  height: 20px;
}
input{
  border-radius: 4px;
  padding: 6px 4px;
   width: 140px;
   margin-bottom: 5px
}
#comms{
  padding-bottom: : 80px;

}
.field{
  padding: 6px 2px 6px 2px;
}
label, input{
  display: block;
}
fieldset{
  display: block;
  font-family: 'Raleway', sans-serif;
  padding:50px;
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  background-color: #f5f5f5;
  min-width: -webkit-min-content;

}
.ledge{
padding:5px;
  background-color: #f5f5f5;
  border-style:solid;
  border-color: gray;
border-width: 2px;
}
#event{
  width: 210px;
  height:70px;
  padding-bottom: 50px;
}
#comms{
  height:70px;
  width:210px;
  padding-bottom: 50px;
}

textarea{
  width: 300px;
}

.damn{
  background-color: blue;
}
/*.closeUp{
width: 300px;
height: 300px;
}
.smaller{
  width: 220px;
  height: 220px;
}*/

.text{
  display: none;
  position: absolute;
  bottom:0;
  width: 250px;
  height: 250px;
  background: rgba(124,124,123,0.5);
  padding: 80px 80px;
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;

 text-shadow: 2px 2px 8px #000;

}
.thumb:hover .text{
  display: block;
  opacity: 50%;
}
.contact{
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
}
.about{
  padding-top: 30px;
  padding-left: 50px
}
.locate{
  text-align: left;
}




@media screen and (max-width: 665px){

.img-responsive .center-block{
  width:100%;
}

/*
  .nav {
    font-size: 0;
  }
  .nav {
    display: inline-block;
    width: 120px;
    font-size: 20px;
    border-bottom: none;
  }
  */

